/* colors */
:root {
  --background: #19120c;
  --blue: #bec2ff;
  --blueContainer: #3e4278;
  --blueSource: #0000ff;
  --blueValue: #0000ff;
  --chartreuse: #acd28e;
  --chartreuseContainer: #304f1a;
  --chartreuseSource: #7fff00;
  --chartreuseValue: #7fff00;
  --crimson: #ffb3b3;
  --crimsonContainer: #733336;
  --crimsonSource: #dc143c;
  --crimsonValue: #dc143c;
  --cyan: #80d5d4;
  --cyanContainer: #004f4f;
  --cyanSource: #00ffff;
  --cyanValue: #00ffff;
  --darkorange: #ffb77d;
  --darkorangeContainer: #6c3a07;
  --darkorangeSource: #ff8c00;
  --darkorangeValue: #ff8c00;
  --deeppink: #ffb0ca;
  --deeppinkContainer: #6f334a;
  --deeppinkSource: #ff1493;
  --deeppinkValue: #ff1493;
  --deepskyblue: #8fcef3;
  --deepskyblueContainer: #004c69;
  --deepskyblueSource: #00bfff;
  --deepskyblueValue: #00bfff;
  --error: #ffb4ab;
  --errorContainer: #93000a;
  --fuchsia: #f1b3e6;
  --fuchsiaContainer: #653661;
  --fuchsiaSource: #ff00ff;
  --fuchsiaValue: #ff00ff;
  --gold: #ddc66e;
  --goldContainer: #544600;
  --goldSource: #ffd700;
  --goldValue: #ffd700;
  --inverseOnSurface: #382f28;
  --inversePrimary: #89511f;
  --inverseSurface: #efdfd6;
  --lime: #a5d395;
  --limeContainer: #285020;
  --limeSource: #00ff00;
  --limeValue: #00ff00;
  --limegreen: #a4d397;
  --limegreenContainer: #275021;
  --limegreenSource: #32cd32;
  --limegreenValue: #32cd32;
  --mediumaquamarine: #89d6b9;
  --mediumaquamarineContainer: #00513d;
  --mediumaquamarineSource: #66cdaa;
  --mediumaquamarineValue: #66cdaa;
  --mediumpurple: #d2bcfd;
  --mediumpurpleContainer: #4f3d74;
  --mediumpurpleSource: #9370db;
  --mediumpurpleValue: #9370db;
  --mediumspringgreen: #93d5a9;
  --mediumspringgreenContainer: #0b5130;
  --mediumspringgreenSource: #00fa9a;
  --mediumspringgreenValue: #00fa9a;
  --onBackground: #efdfd6;
  --onBlue: #272b60;
  --onBlueContainer: #e0e0ff;
  --onChartreuse: #1a3705;
  --onChartreuseContainer: #c8eea8;
  --onCrimson: #561d21;
  --onCrimsonContainer: #ffdad9;
  --onCyan: #003737;
  --onCyanContainer: #9cf1f0;
  --onDarkorange: #4d2600;
  --onDarkorangeContainer: #ffdcc3;
  --onDeeppink: #541d34;
  --onDeeppinkContainer: #ffd9e3;
  --onDeepskyblue: #003549;
  --onDeepskyblueContainer: #c3e8ff;
  --onError: #690005;
  --onErrorContainer: #ffdad6;
  --onFuchsia: #4c1f49;
  --onFuchsiaContainer: #ffd7f5;
  --onGold: #3a3000;
  --onGoldContainer: #fae287;
  --onLime: #11380b;
  --onLimeContainer: #c0efb0;
  --onLimegreen: #0f380c;
  --onLimegreenContainer: #bff0b1;
  --onMediumaquamarine: #003829;
  --onMediumaquamarineContainer: #a5f2d4;
  --onMediumpurple: #38265c;
  --onMediumpurpleContainer: #eaddff;
  --onMediumspringgreen: #00391f;
  --onMediumspringgreenContainer: #aff2c4;
  --onOrange: #462a00;
  --onOrangeContainer: #ffddb7;
  --onOrchid: #4b1f4a;
  --onOrchidContainer: #ffd6f7;
  --onPrimary: #4d2600;
  --onPrimaryContainer: #ffdcc3;
  --onPrimaryFixed: #2f1500;
  --onPrimaryFixedVariant: #6c3a07;
  --onPurple: #4c1f49;
  --onPurpleContainer: #ffd7f5;
  --onRed: #561e16;
  --onRedContainer: #ffdad4;
  --onRoyalblue: #1d2d61;
  --onRoyalblueContainer: #dce1ff;
  --onSecondary: #422c1a;
  --onSecondaryContainer: #ffdcc3;
  --onSecondaryFixed: #2a1707;
  --onSecondaryFixedVariant: #5a422e;
  --onSpringgreen: #003917;
  --onSpringgreenContainer: #b5f1bc;
  --onSurface: #efdfd6;
  --onSurfaceVariant: #d6c3b7;
  --onTertiary: #2e330c;
  --onTertiaryContainer: #e2e7b0;
  --onTertiaryFixed: #1a1e00;
  --onTertiaryFixedVariant: #454a21;
  --orange: #f7bb70;
  --orangeContainer: #653e00;
  --orangeSource: #ffa500;
  --orangeValue: #ffa500;
  --orchid: #f0b3e8;
  --orchidContainer: #643662;
  --orchidSource: #da70d6;
  --orchidValue: #da70d6;
  --outline: #9e8d82;
  --outlineVariant: #51443b;
  --primary: #ffb77e;
  --primaryContainer: #6c3a07;
  --primaryFixed: #ffdcc3;
  --primaryFixedDim: #ffb77e;
  --purple: #f1b3e6;
  --purpleContainer: #653661;
  --purpleSource: #800080;
  --purpleValue: #800080;
  --red: #ffb4a8;
  --redContainer: #73342a;
  --redSource: #ff0000;
  --redValue: #ff0000;
  --royalblue: #b6c4ff;
  --royalblueContainer: #344479;
  --royalblueSource: #4169e1;
  --royalblueValue: #4169e1;
  --scrim: #000000;
  --secondary: #e3c0a6;
  --secondaryContainer: #5a422e;
  --secondaryFixed: #ffdcc3;
  --secondaryFixedDim: #e3c0a6;
  --shadow: #000000;
  --sourceColor: #dea06f;
  --springgreen: #9ad4a2;
  --springgreenContainer: #19512a;
  --springgreenSource: #00ff7f;
  --springgreenValue: #00ff7f;
  --surface: #19120c;
  --surfaceBright: #413731;
  --surfaceContainer: #261e18;
  --surfaceContainerHigh: #312822;
  --surfaceContainerHighest: #3c332c;
  --surfaceContainerLow: #221a14;
  --surfaceContainerLowest: #140d08;
  --surfaceDim: #19120c;
  --surfaceTint: #ffb77e;
  --surfaceVariant: #51443b;
  --tertiary: #c5cb96;
  --tertiaryContainer: #454a21;
  --tertiaryFixed: #e2e7b0;
  --tertiaryFixedDim: #c5cb96;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #19120c;
    --blue: #bec2ff;
    --blueContainer: #3e4278;
    --blueSource: #0000ff;
    --blueValue: #0000ff;
    --chartreuse: #acd28e;
    --chartreuseContainer: #304f1a;
    --chartreuseSource: #7fff00;
    --chartreuseValue: #7fff00;
    --crimson: #ffb3b3;
    --crimsonContainer: #733336;
    --crimsonSource: #dc143c;
    --crimsonValue: #dc143c;
    --cyan: #80d5d4;
    --cyanContainer: #004f4f;
    --cyanSource: #00ffff;
    --cyanValue: #00ffff;
    --darkorange: #ffb77d;
    --darkorangeContainer: #6c3a07;
    --darkorangeSource: #ff8c00;
    --darkorangeValue: #ff8c00;
    --deeppink: #ffb0ca;
    --deeppinkContainer: #6f334a;
    --deeppinkSource: #ff1493;
    --deeppinkValue: #ff1493;
    --deepskyblue: #8fcef3;
    --deepskyblueContainer: #004c69;
    --deepskyblueSource: #00bfff;
    --deepskyblueValue: #00bfff;
    --error: #ffb4ab;
    --errorContainer: #93000a;
    --fuchsia: #f1b3e6;
    --fuchsiaContainer: #653661;
    --fuchsiaSource: #ff00ff;
    --fuchsiaValue: #ff00ff;
    --gold: #ddc66e;
    --goldContainer: #544600;
    --goldSource: #ffd700;
    --goldValue: #ffd700;
    --inverseOnSurface: #382f28;
    --inversePrimary: #89511f;
    --inverseSurface: #efdfd6;
    --lime: #a5d395;
    --limeContainer: #285020;
    --limeSource: #00ff00;
    --limeValue: #00ff00;
    --limegreen: #a4d397;
    --limegreenContainer: #275021;
    --limegreenSource: #32cd32;
    --limegreenValue: #32cd32;
    --mediumaquamarine: #89d6b9;
    --mediumaquamarineContainer: #00513d;
    --mediumaquamarineSource: #66cdaa;
    --mediumaquamarineValue: #66cdaa;
    --mediumpurple: #d2bcfd;
    --mediumpurpleContainer: #4f3d74;
    --mediumpurpleSource: #9370db;
    --mediumpurpleValue: #9370db;
    --mediumspringgreen: #93d5a9;
    --mediumspringgreenContainer: #0b5130;
    --mediumspringgreenSource: #00fa9a;
    --mediumspringgreenValue: #00fa9a;
    --onBackground: #efdfd6;
    --onBlue: #272b60;
    --onBlueContainer: #e0e0ff;
    --onChartreuse: #1a3705;
    --onChartreuseContainer: #c8eea8;
    --onCrimson: #561d21;
    --onCrimsonContainer: #ffdad9;
    --onCyan: #003737;
    --onCyanContainer: #9cf1f0;
    --onDarkorange: #4d2600;
    --onDarkorangeContainer: #ffdcc3;
    --onDeeppink: #541d34;
    --onDeeppinkContainer: #ffd9e3;
    --onDeepskyblue: #003549;
    --onDeepskyblueContainer: #c3e8ff;
    --onError: #690005;
    --onErrorContainer: #ffdad6;
    --onFuchsia: #4c1f49;
    --onFuchsiaContainer: #ffd7f5;
    --onGold: #3a3000;
    --onGoldContainer: #fae287;
    --onLime: #11380b;
    --onLimeContainer: #c0efb0;
    --onLimegreen: #0f380c;
    --onLimegreenContainer: #bff0b1;
    --onMediumaquamarine: #003829;
    --onMediumaquamarineContainer: #a5f2d4;
    --onMediumpurple: #38265c;
    --onMediumpurpleContainer: #eaddff;
    --onMediumspringgreen: #00391f;
    --onMediumspringgreenContainer: #aff2c4;
    --onOrange: #462a00;
    --onOrangeContainer: #ffddb7;
    --onOrchid: #4b1f4a;
    --onOrchidContainer: #ffd6f7;
    --onPrimary: #4d2600;
    --onPrimaryContainer: #ffdcc3;
    --onPrimaryFixed: #2f1500;
    --onPrimaryFixedVariant: #6c3a07;
    --onPurple: #4c1f49;
    --onPurpleContainer: #ffd7f5;
    --onRed: #561e16;
    --onRedContainer: #ffdad4;
    --onRoyalblue: #1d2d61;
    --onRoyalblueContainer: #dce1ff;
    --onSecondary: #422c1a;
    --onSecondaryContainer: #ffdcc3;
    --onSecondaryFixed: #2a1707;
    --onSecondaryFixedVariant: #5a422e;
    --onSpringgreen: #003917;
    --onSpringgreenContainer: #b5f1bc;
    --onSurface: #efdfd6;
    --onSurfaceVariant: #d6c3b7;
    --onTertiary: #2e330c;
    --onTertiaryContainer: #e2e7b0;
    --onTertiaryFixed: #1a1e00;
    --onTertiaryFixedVariant: #454a21;
    --orange: #f7bb70;
    --orangeContainer: #653e00;
    --orangeSource: #ffa500;
    --orangeValue: #ffa500;
    --orchid: #f0b3e8;
    --orchidContainer: #643662;
    --orchidSource: #da70d6;
    --orchidValue: #da70d6;
    --outline: #9e8d82;
    --outlineVariant: #51443b;
    --primary: #ffb77e;
    --primaryContainer: #6c3a07;
    --primaryFixed: #ffdcc3;
    --primaryFixedDim: #ffb77e;
    --purple: #f1b3e6;
    --purpleContainer: #653661;
    --purpleSource: #800080;
    --purpleValue: #800080;
    --red: #ffb4a8;
    --redContainer: #73342a;
    --redSource: #ff0000;
    --redValue: #ff0000;
    --royalblue: #b6c4ff;
    --royalblueContainer: #344479;
    --royalblueSource: #4169e1;
    --royalblueValue: #4169e1;
    --scrim: #000000;
    --secondary: #e3c0a6;
    --secondaryContainer: #5a422e;
    --secondaryFixed: #ffdcc3;
    --secondaryFixedDim: #e3c0a6;
    --shadow: #000000;
    --sourceColor: #dea06f;
    --springgreen: #9ad4a2;
    --springgreenContainer: #19512a;
    --springgreenSource: #00ff7f;
    --springgreenValue: #00ff7f;
    --surface: #19120c;
    --surfaceBright: #413731;
    --surfaceContainer: #261e18;
    --surfaceContainerHigh: #312822;
    --surfaceContainerHighest: #3c332c;
    --surfaceContainerLow: #221a14;
    --surfaceContainerLowest: #140d08;
    --surfaceDim: #19120c;
    --surfaceTint: #ffb77e;
    --surfaceVariant: #51443b;
    --tertiary: #c5cb96;
    --tertiaryContainer: #454a21;
    --tertiaryFixed: #e2e7b0;
    --tertiaryFixedDim: #c5cb96;
  }
}
[data-theme="dark"] {
  --background: #19120c;
  --blue: #bec2ff;
  --blueContainer: #3e4278;
  --blueSource: #0000ff;
  --blueValue: #0000ff;
  --chartreuse: #acd28e;
  --chartreuseContainer: #304f1a;
  --chartreuseSource: #7fff00;
  --chartreuseValue: #7fff00;
  --crimson: #ffb3b3;
  --crimsonContainer: #733336;
  --crimsonSource: #dc143c;
  --crimsonValue: #dc143c;
  --cyan: #80d5d4;
  --cyanContainer: #004f4f;
  --cyanSource: #00ffff;
  --cyanValue: #00ffff;
  --darkorange: #ffb77d;
  --darkorangeContainer: #6c3a07;
  --darkorangeSource: #ff8c00;
  --darkorangeValue: #ff8c00;
  --deeppink: #ffb0ca;
  --deeppinkContainer: #6f334a;
  --deeppinkSource: #ff1493;
  --deeppinkValue: #ff1493;
  --deepskyblue: #8fcef3;
  --deepskyblueContainer: #004c69;
  --deepskyblueSource: #00bfff;
  --deepskyblueValue: #00bfff;
  --error: #ffb4ab;
  --errorContainer: #93000a;
  --fuchsia: #f1b3e6;
  --fuchsiaContainer: #653661;
  --fuchsiaSource: #ff00ff;
  --fuchsiaValue: #ff00ff;
  --gold: #ddc66e;
  --goldContainer: #544600;
  --goldSource: #ffd700;
  --goldValue: #ffd700;
  --inverseOnSurface: #382f28;
  --inversePrimary: #89511f;
  --inverseSurface: #efdfd6;
  --lime: #a5d395;
  --limeContainer: #285020;
  --limeSource: #00ff00;
  --limeValue: #00ff00;
  --limegreen: #a4d397;
  --limegreenContainer: #275021;
  --limegreenSource: #32cd32;
  --limegreenValue: #32cd32;
  --mediumaquamarine: #89d6b9;
  --mediumaquamarineContainer: #00513d;
  --mediumaquamarineSource: #66cdaa;
  --mediumaquamarineValue: #66cdaa;
  --mediumpurple: #d2bcfd;
  --mediumpurpleContainer: #4f3d74;
  --mediumpurpleSource: #9370db;
  --mediumpurpleValue: #9370db;
  --mediumspringgreen: #93d5a9;
  --mediumspringgreenContainer: #0b5130;
  --mediumspringgreenSource: #00fa9a;
  --mediumspringgreenValue: #00fa9a;
  --onBackground: #efdfd6;
  --onBlue: #272b60;
  --onBlueContainer: #e0e0ff;
  --onChartreuse: #1a3705;
  --onChartreuseContainer: #c8eea8;
  --onCrimson: #561d21;
  --onCrimsonContainer: #ffdad9;
  --onCyan: #003737;
  --onCyanContainer: #9cf1f0;
  --onDarkorange: #4d2600;
  --onDarkorangeContainer: #ffdcc3;
  --onDeeppink: #541d34;
  --onDeeppinkContainer: #ffd9e3;
  --onDeepskyblue: #003549;
  --onDeepskyblueContainer: #c3e8ff;
  --onError: #690005;
  --onErrorContainer: #ffdad6;
  --onFuchsia: #4c1f49;
  --onFuchsiaContainer: #ffd7f5;
  --onGold: #3a3000;
  --onGoldContainer: #fae287;
  --onLime: #11380b;
  --onLimeContainer: #c0efb0;
  --onLimegreen: #0f380c;
  --onLimegreenContainer: #bff0b1;
  --onMediumaquamarine: #003829;
  --onMediumaquamarineContainer: #a5f2d4;
  --onMediumpurple: #38265c;
  --onMediumpurpleContainer: #eaddff;
  --onMediumspringgreen: #00391f;
  --onMediumspringgreenContainer: #aff2c4;
  --onOrange: #462a00;
  --onOrangeContainer: #ffddb7;
  --onOrchid: #4b1f4a;
  --onOrchidContainer: #ffd6f7;
  --onPrimary: #4d2600;
  --onPrimaryContainer: #ffdcc3;
  --onPrimaryFixed: #2f1500;
  --onPrimaryFixedVariant: #6c3a07;
  --onPurple: #4c1f49;
  --onPurpleContainer: #ffd7f5;
  --onRed: #561e16;
  --onRedContainer: #ffdad4;
  --onRoyalblue: #1d2d61;
  --onRoyalblueContainer: #dce1ff;
  --onSecondary: #422c1a;
  --onSecondaryContainer: #ffdcc3;
  --onSecondaryFixed: #2a1707;
  --onSecondaryFixedVariant: #5a422e;
  --onSpringgreen: #003917;
  --onSpringgreenContainer: #b5f1bc;
  --onSurface: #efdfd6;
  --onSurfaceVariant: #d6c3b7;
  --onTertiary: #2e330c;
  --onTertiaryContainer: #e2e7b0;
  --onTertiaryFixed: #1a1e00;
  --onTertiaryFixedVariant: #454a21;
  --orange: #f7bb70;
  --orangeContainer: #653e00;
  --orangeSource: #ffa500;
  --orangeValue: #ffa500;
  --orchid: #f0b3e8;
  --orchidContainer: #643662;
  --orchidSource: #da70d6;
  --orchidValue: #da70d6;
  --outline: #9e8d82;
  --outlineVariant: #51443b;
  --primary: #ffb77e;
  --primaryContainer: #6c3a07;
  --primaryFixed: #ffdcc3;
  --primaryFixedDim: #ffb77e;
  --purple: #f1b3e6;
  --purpleContainer: #653661;
  --purpleSource: #800080;
  --purpleValue: #800080;
  --red: #ffb4a8;
  --redContainer: #73342a;
  --redSource: #ff0000;
  --redValue: #ff0000;
  --royalblue: #b6c4ff;
  --royalblueContainer: #344479;
  --royalblueSource: #4169e1;
  --royalblueValue: #4169e1;
  --scrim: #000000;
  --secondary: #e3c0a6;
  --secondaryContainer: #5a422e;
  --secondaryFixed: #ffdcc3;
  --secondaryFixedDim: #e3c0a6;
  --shadow: #000000;
  --sourceColor: #dea06f;
  --springgreen: #9ad4a2;
  --springgreenContainer: #19512a;
  --springgreenSource: #00ff7f;
  --springgreenValue: #00ff7f;
  --surface: #19120c;
  --surfaceBright: #413731;
  --surfaceContainer: #261e18;
  --surfaceContainerHigh: #312822;
  --surfaceContainerHighest: #3c332c;
  --surfaceContainerLow: #221a14;
  --surfaceContainerLowest: #140d08;
  --surfaceDim: #19120c;
  --surfaceTint: #ffb77e;
  --surfaceVariant: #51443b;
  --tertiary: #c5cb96;
  --tertiaryContainer: #454a21;
  --tertiaryFixed: #e2e7b0;
  --tertiaryFixedDim: #c5cb96;
}

/* Light theme */
@media (prefers-color-scheme: light) {
  :root {
    --background: #fff8f5;
    --blue: #555992;
    --blueContainer: #e0e0ff;
    --blueSource: #0000ff;
    --blueValue: #0000ff;
    --chartreuse: #476730;
    --chartreuseContainer: #c8eea8;
    --chartreuseSource: #7fff00;
    --chartreuseValue: #7fff00;
    --crimson: #8f4a4c;
    --crimsonContainer: #ffdad9;
    --crimsonSource: #dc143c;
    --crimsonValue: #dc143c;
    --cyan: #006a6a;
    --cyanContainer: #9cf1f0;
    --cyanSource: #00ffff;
    --cyanValue: #00ffff;
    --darkorange: #88511e;
    --darkorangeContainer: #ffdcc3;
    --darkorangeSource: #ff8c00;
    --darkorangeValue: #ff8c00;
    --deeppink: #8b4a62;
    --deeppinkContainer: #ffd9e3;
    --deeppinkSource: #ff1493;
    --deeppinkValue: #ff1493;
    --deepskyblue: #1c6585;
    --deepskyblueContainer: #c3e8ff;
    --deepskyblueSource: #00bfff;
    --deepskyblueValue: #00bfff;
    --error: #ba1a1a;
    --errorContainer: #ffdad6;
    --fuchsia: #804d7a;
    --fuchsiaContainer: #ffd7f5;
    --fuchsiaSource: #ff00ff;
    --fuchsiaValue: #ff00ff;
    --gold: #6f5d0e;
    --goldContainer: #fae287;
    --goldSource: #ffd700;
    --goldValue: #ffd700;
    --inverseOnSurface: #feeee4;
    --inversePrimary: #ffb77e;
    --inverseSurface: #382f28;
    --lime: #406836;
    --limeContainer: #c0efb0;
    --limeSource: #00ff00;
    --limeValue: #00ff00;
    --limegreen: #3e6837;
    --limegreenContainer: #bff0b1;
    --limegreenSource: #32cd32;
    --limegreenValue: #32cd32;
    --mediumaquamarine: #176b53;
    --mediumaquamarineContainer: #a5f2d4;
    --mediumaquamarineSource: #66cdaa;
    --mediumaquamarineValue: #66cdaa;
    --mediumpurple: #67548e;
    --mediumpurpleContainer: #eaddff;
    --mediumpurpleSource: #9370db;
    --mediumpurpleValue: #9370db;
    --mediumspringgreen: #2a6a47;
    --mediumspringgreenContainer: #aff2c4;
    --mediumspringgreenSource: #00fa9a;
    --mediumspringgreenValue: #00fa9a;
    --onBackground: #221a14;
    --onBlue: #ffffff;
    --onBlueContainer: #11144b;
    --onChartreuse: #ffffff;
    --onChartreuseContainer: #0b2000;
    --onCrimson: #ffffff;
    --onCrimsonContainer: #3b080e;
    --onCyan: #ffffff;
    --onCyanContainer: #002020;
    --onDarkorange: #ffffff;
    --onDarkorangeContainer: #2f1500;
    --onDeeppink: #ffffff;
    --onDeeppinkContainer: #39071f;
    --onDeepskyblue: #ffffff;
    --onDeepskyblueContainer: #001e2c;
    --onError: #ffffff;
    --onErrorContainer: #410002;
    --onFuchsia: #ffffff;
    --onFuchsiaContainer: #340832;
    --onGold: #ffffff;
    --onGoldContainer: #221b00;
    --onLime: #ffffff;
    --onLimeContainer: #002200;
    --onLimegreen: #ffffff;
    --onLimegreenContainer: #002201;
    --onMediumaquamarine: #ffffff;
    --onMediumaquamarineContainer: #002117;
    --onMediumpurple: #ffffff;
    --onMediumpurpleContainer: #220f46;
    --onMediumspringgreen: #ffffff;
    --onMediumspringgreenContainer: #002110;
    --onOrange: #ffffff;
    --onOrangeContainer: #2a1700;
    --onOrchid: #ffffff;
    --onOrchidContainer: #330833;
    --onPrimary: #ffffff;
    --onPrimaryContainer: #2f1500;
    --onPrimaryFixed: #2f1500;
    --onPrimaryFixedVariant: #6c3a07;
    --onPurple: #ffffff;
    --onPurpleContainer: #340832;
    --onRed: #ffffff;
    --onRedContainer: #3a0905;
    --onRoyalblue: #ffffff;
    --onRoyalblueContainer: #03174b;
    --onSecondary: #ffffff;
    --onSecondaryContainer: #2a1707;
    --onSecondaryFixed: #2a1707;
    --onSecondaryFixedVariant: #5a422e;
    --onSpringgreen: #ffffff;
    --onSpringgreenContainer: #00210b;
    --onSurface: #221a14;
    --onSurfaceVariant: #51443b;
    --onTertiary: #ffffff;
    --onTertiaryContainer: #1a1e00;
    --onTertiaryFixed: #1a1e00;
    --onTertiaryFixedVariant: #454a21;
    --orange: #815512;
    --orangeContainer: #ffddb7;
    --orangeSource: #ffa500;
    --orangeValue: #ffa500;
    --orchid: #7f4d7b;
    --orchidContainer: #ffd6f7;
    --orchidSource: #da70d6;
    --orchidValue: #da70d6;
    --outline: #847469;
    --outlineVariant: #d6c3b7;
    --primary: #89511f;
    --primaryContainer: #ffdcc3;
    --primaryFixed: #ffdcc3;
    --primaryFixedDim: #ffb77e;
    --purple: #804d7a;
    --purpleContainer: #ffd7f5;
    --purpleSource: #800080;
    --purpleValue: #800080;
    --red: #904b40;
    --redContainer: #ffdad4;
    --redSource: #ff0000;
    --redValue: #ff0000;
    --royalblue: #4c5c92;
    --royalblueContainer: #dce1ff;
    --royalblueSource: #4169e1;
    --royalblueValue: #4169e1;
    --scrim: #000000;
    --secondary: #745944;
    --secondaryContainer: #ffdcc3;
    --secondaryFixed: #ffdcc3;
    --secondaryFixedDim: #e3c0a6;
    --shadow: #000000;
    --sourceColor: #dea06f;
    --springgreen: #336940;
    --springgreenContainer: #b5f1bc;
    --springgreenSource: #00ff7f;
    --springgreenValue: #00ff7f;
    --surface: #fff8f5;
    --surfaceBright: #fff8f5;
    --surfaceContainer: #fbebe1;
    --surfaceContainerHigh: #f5e5db;
    --surfaceContainerHighest: #efdfd6;
    --surfaceContainerLow: #fff1e9;
    --surfaceContainerLowest: #ffffff;
    --surfaceDim: #e7d7ce;
    --surfaceTint: #89511f;
    --surfaceVariant: #f3dfd2;
    --tertiary: #5d6236;
    --tertiaryContainer: #e2e7b0;
    --tertiaryFixed: #e2e7b0;
    --tertiaryFixedDim: #c5cb96;
  }
}
[data-theme="light"] {
  --background: #fff8f5;
  --blue: #555992;
  --blueContainer: #e0e0ff;
  --blueSource: #0000ff;
  --blueValue: #0000ff;
  --chartreuse: #476730;
  --chartreuseContainer: #c8eea8;
  --chartreuseSource: #7fff00;
  --chartreuseValue: #7fff00;
  --crimson: #8f4a4c;
  --crimsonContainer: #ffdad9;
  --crimsonSource: #dc143c;
  --crimsonValue: #dc143c;
  --cyan: #006a6a;
  --cyanContainer: #9cf1f0;
  --cyanSource: #00ffff;
  --cyanValue: #00ffff;
  --darkorange: #88511e;
  --darkorangeContainer: #ffdcc3;
  --darkorangeSource: #ff8c00;
  --darkorangeValue: #ff8c00;
  --deeppink: #8b4a62;
  --deeppinkContainer: #ffd9e3;
  --deeppinkSource: #ff1493;
  --deeppinkValue: #ff1493;
  --deepskyblue: #1c6585;
  --deepskyblueContainer: #c3e8ff;
  --deepskyblueSource: #00bfff;
  --deepskyblueValue: #00bfff;
  --error: #ba1a1a;
  --errorContainer: #ffdad6;
  --fuchsia: #804d7a;
  --fuchsiaContainer: #ffd7f5;
  --fuchsiaSource: #ff00ff;
  --fuchsiaValue: #ff00ff;
  --gold: #6f5d0e;
  --goldContainer: #fae287;
  --goldSource: #ffd700;
  --goldValue: #ffd700;
  --inverseOnSurface: #feeee4;
  --inversePrimary: #ffb77e;
  --inverseSurface: #382f28;
  --lime: #406836;
  --limeContainer: #c0efb0;
  --limeSource: #00ff00;
  --limeValue: #00ff00;
  --limegreen: #3e6837;
  --limegreenContainer: #bff0b1;
  --limegreenSource: #32cd32;
  --limegreenValue: #32cd32;
  --mediumaquamarine: #176b53;
  --mediumaquamarineContainer: #a5f2d4;
  --mediumaquamarineSource: #66cdaa;
  --mediumaquamarineValue: #66cdaa;
  --mediumpurple: #67548e;
  --mediumpurpleContainer: #eaddff;
  --mediumpurpleSource: #9370db;
  --mediumpurpleValue: #9370db;
  --mediumspringgreen: #2a6a47;
  --mediumspringgreenContainer: #aff2c4;
  --mediumspringgreenSource: #00fa9a;
  --mediumspringgreenValue: #00fa9a;
  --onBackground: #221a14;
  --onBlue: #ffffff;
  --onBlueContainer: #11144b;
  --onChartreuse: #ffffff;
  --onChartreuseContainer: #0b2000;
  --onCrimson: #ffffff;
  --onCrimsonContainer: #3b080e;
  --onCyan: #ffffff;
  --onCyanContainer: #002020;
  --onDarkorange: #ffffff;
  --onDarkorangeContainer: #2f1500;
  --onDeeppink: #ffffff;
  --onDeeppinkContainer: #39071f;
  --onDeepskyblue: #ffffff;
  --onDeepskyblueContainer: #001e2c;
  --onError: #ffffff;
  --onErrorContainer: #410002;
  --onFuchsia: #ffffff;
  --onFuchsiaContainer: #340832;
  --onGold: #ffffff;
  --onGoldContainer: #221b00;
  --onLime: #ffffff;
  --onLimeContainer: #002200;
  --onLimegreen: #ffffff;
  --onLimegreenContainer: #002201;
  --onMediumaquamarine: #ffffff;
  --onMediumaquamarineContainer: #002117;
  --onMediumpurple: #ffffff;
  --onMediumpurpleContainer: #220f46;
  --onMediumspringgreen: #ffffff;
  --onMediumspringgreenContainer: #002110;
  --onOrange: #ffffff;
  --onOrangeContainer: #2a1700;
  --onOrchid: #ffffff;
  --onOrchidContainer: #330833;
  --onPrimary: #ffffff;
  --onPrimaryContainer: #2f1500;
  --onPrimaryFixed: #2f1500;
  --onPrimaryFixedVariant: #6c3a07;
  --onPurple: #ffffff;
  --onPurpleContainer: #340832;
  --onRed: #ffffff;
  --onRedContainer: #3a0905;
  --onRoyalblue: #ffffff;
  --onRoyalblueContainer: #03174b;
  --onSecondary: #ffffff;
  --onSecondaryContainer: #2a1707;
  --onSecondaryFixed: #2a1707;
  --onSecondaryFixedVariant: #5a422e;
  --onSpringgreen: #ffffff;
  --onSpringgreenContainer: #00210b;
  --onSurface: #221a14;
  --onSurfaceVariant: #51443b;
  --onTertiary: #ffffff;
  --onTertiaryContainer: #1a1e00;
  --onTertiaryFixed: #1a1e00;
  --onTertiaryFixedVariant: #454a21;
  --orange: #815512;
  --orangeContainer: #ffddb7;
  --orangeSource: #ffa500;
  --orangeValue: #ffa500;
  --orchid: #7f4d7b;
  --orchidContainer: #ffd6f7;
  --orchidSource: #da70d6;
  --orchidValue: #da70d6;
  --outline: #847469;
  --outlineVariant: #d6c3b7;
  --primary: #89511f;
  --primaryContainer: #ffdcc3;
  --primaryFixed: #ffdcc3;
  --primaryFixedDim: #ffb77e;
  --purple: #804d7a;
  --purpleContainer: #ffd7f5;
  --purpleSource: #800080;
  --purpleValue: #800080;
  --red: #904b40;
  --redContainer: #ffdad4;
  --redSource: #ff0000;
  --redValue: #ff0000;
  --royalblue: #4c5c92;
  --royalblueContainer: #dce1ff;
  --royalblueSource: #4169e1;
  --royalblueValue: #4169e1;
  --scrim: #000000;
  --secondary: #745944;
  --secondaryContainer: #ffdcc3;
  --secondaryFixed: #ffdcc3;
  --secondaryFixedDim: #e3c0a6;
  --shadow: #000000;
  --sourceColor: #dea06f;
  --springgreen: #336940;
  --springgreenContainer: #b5f1bc;
  --springgreenSource: #00ff7f;
  --springgreenValue: #00ff7f;
  --surface: #fff8f5;
  --surfaceBright: #fff8f5;
  --surfaceContainer: #fbebe1;
  --surfaceContainerHigh: #f5e5db;
  --surfaceContainerHighest: #efdfd6;
  --surfaceContainerLow: #fff1e9;
  --surfaceContainerLowest: #ffffff;
  --surfaceDim: #e7d7ce;
  --surfaceTint: #89511f;
  --surfaceVariant: #f3dfd2;
  --tertiary: #5d6236;
  --tertiaryContainer: #e2e7b0;
  --tertiaryFixed: #e2e7b0;
  --tertiaryFixedDim: #c5cb96;
}
