/* colors */
:root {
  --success: #93d5a9;

  --max-width: 900px;
  --max-width: 56.25rem;

  --max-view-width: 1920px;
  --max-view-width: 120rem;

  --radius: var(--sp-4xs-3xs);
  /*--radius: 0;*/
  --border: calc(var(--sp-6xs) / 2);
  --lib-border: 0;
}
