/* colors */
:root {
  --success: #93d5a9;

  --max-width: 1440px;
  --max-width: 90rem;

  --max-view-width: 1920px;
  --max-view-width: 120rem;

  --radius: var(--sp-2xs-xs);
  --border: calc(var(--sp-6xs) / 2);
  --lib-border: 0;
}
