.navbar {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--sp-5xs) var(--sp-2xs);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--sp-xs);

  font-weight: bold;
}

.logo {
  font-size: var(--p);
  display: flex;
  align-items: flex-end;
  justify-content: center;

  text-decoration: none;
  color: inherit;
}

.links {
  display: flex;
  align-items: center;
  gap: var(--sp-2xs);
}
