.complete {
  height: 100%;
  width: 100%;
  padding: var(--sp-3xl) var(--sp-3xs);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--sp-xl);
}

.tick {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--sp-m);

  color: var(--secondary);
  font-size: var(--sp-4xl);
}

.tick > h2 {
  font-size: var(--h3);
  text-align: center;
}
