.user {
  min-width: calc(var(--sp-xl) * 4);
  width: fit-content;

  padding: var(--sp-3xs);

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--sp-3xs);
}

.content {
  font-size: var(--sm);
  display: flex;
  flex-direction: column;
  gap: var(--sp-5xs);
}
